/*@keyframes slider{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }
    
    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
    }


    #slider{
        overflow: hidden;
    }

    #slider figure img{
        width: 20%;
        float: left;
    }
    #slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 20s slider infinite ;
    }*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1000px;
    margin: 0px auto;
}


#header{
    background-color: #264652;
    overflow: auto;
}
 
.header-logo{
    float: left;
    color: #fff;
    margin: 20px;
    font-size: 55px;
    font-family:'Josefin Sans', sans-serif;
}

.nav-bar{
    float: right;
}

.nav-items li{
    float: left;
    font-size: 20px;
    list-style: none;
    color: #fff;
}

.nav-items li a{
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-family: 'Sumana', serif;
}

.nav-items li a:hover {
    color: #f4a261;
    background-color: #273966;
}


/*login css*/
.main {
    position: relative;
}
.name {
    position: absolute;
    top: 25%;
    left: 38%;
}
.name h1 {
    letter-spacing:9px; 
    color: white;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.login {
    height: 220px;
    width: 400px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 65%;
    left: 35%;
    padding: 17px;
    padding-left: 90px;
    color: white;
    font-size: 18px;  
    font-family: 'Vollkorn', serif;
    border: none;
    border-radius: 20px;
    
}
.login input#sub{
    width: 100px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    font-size: 14px;
    font-style: initial;
    font-weight: 600;
}
#name{
    width: 200px;
    /**height: 30px;*/
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
}
.l1 {
    color: #fff;
}
.l3 {
    color: #fff;
}
.q{
    position: absolute;
}

